cleveland-1.png
cleveland2-1.png
datainclusioncriteria-1.png
example-sineillusion-1.png
example-sineillusion2-1.png
illusion-geometry-1.png
methodofadjustment-1.png
original-1.png
originalgrid-1.png
psychophysics-1.png
ranef-1.png
ribbon-illusion-1.png
ribbon-illusion2-1.png
startingweights-1.png
xaxisdemo-1.png
xaxisdemoweight-1.png
y-generalcorrectioncartoon-1.png
y-linearcorrectioncartoon-1.png
ycorrection1-1.png
ycorrection2-1.png
