.DS_Store
SineIllusion-concordance.tex
LitReview-concordance.tex
LitReview.pdf
LitReview.tex
thesis.tex
Overview-concordance.tex
VisualAptitude.pdf
VisualAptitude.tex
LieFactorSine.pdf
LieFactorSine.tex
*-concordance.tex
FeatureHierarchy.tex
