<!doctype html>
<html lang="en">
<!-- begin.rcode head, echo=FALSE, include=FALSE
library(knitr)

end.rcode-->

<head>
	<meta charset="utf-8">

	<title>Perception of Statistical Graphics</title>

	<meta name="description" content="Final Oral Exam Presentation Slides">
	<meta name="author" content="Susan VanderPlas">

	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes, minimal-ui">

	<link rel="stylesheet" href="css/reveal.css">
	<link rel="stylesheet" href="css/theme/simple.css" id="theme">
	<link rel="stylesheet" href="css/Presentation.css">

	<!-- Code syntax highlighting -->
	<link rel="stylesheet" href="lib/css/zenburn.css">

	<!-- Printing and PDF exports -->
	<script>
		var link = document.createElement( 'link' );
		link.rel = 'stylesheet';
		link.type = 'text/css';
		link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
		document.getElementsByTagName( 'head' )[0].appendChild( link );
	</script>

	<!--[if lt IE 9]>
	<script src="lib/js/html5shiv.js"></script>
	<![endif]-->
</head>

<!-- begin.rcode body, echo=FALSE, include=FALSE

end.rcode-->
<body>
<div class="reveal">
	<!-- Any section element inside of this container is displayed as a slide -->
	<div class="slides">
			
<section> <!-- Introduction -->
  <h1 style='font-size:3em;'>Perception of Statistical Graphics</h1>
  <h3>Susan VanderPlas</h3>
  <h4>April 1, 2015</h4>
</section>

<section>
  <section>
  	<h2> Outline </h2>
    <ul style="margin-bottom:20px;margin-top:10px;width:95%;">
      <li>
        <b>Signs of the Sine Illusion:</b> Why We Need to Care
        <ul style="font-size:70%;text-align:left;">
          <li> Proposes geometry-based transformations </li>
          <li> Presents data from a user study </li>
          <li> Accepted to JCGS, July 2014 </li>
        </ul>
      </li>
      <li>
        <b>The Curse of Three Dimensions:</b> Why Your Brain is Lying to You
        <ul style="font-size:70%;text-align:left;">
          <li> Examines cause of the illusion (depth perception) </li>
          <li> Presents a case study of an individual without depth perception </li>
          <li> Presents data from another user study </li>
          <li> Intended for submission to IEEE Transactions on Applied Perception </li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
  	<h2> Outline </h2>
    <ul style="margin-bottom:20px;margin-top:10px;width:95%;">
      <li>
        <b>Spatial Reasoning and Data Displays</b>
        <ul style="font-size:70%;text-align:left;">
          <li> Examines visual skills necessary for lineup evaluation </li>
          <li> Compares participant performance on lineups to performance on validated tests of visual reasoning ability </li>
          <li> Submitted to IEEE Transactions on Visualization and Computer Graphics, January 2015 </li>
        </ul>
      </li>
      <li>
        <b>Statistical Graphics and the Hierarchy of Visual Features</b>
        <ul style="font-size:70%;text-align:left;">
          <li> Examines the effect of visual features of statistical plots on perception of displayed data </li>
          <li> Intended for submission to the Journal of Computational and Graphical Statistics </li>
        </ul>
      </li>
    </ul>
  </section>
</section>


<!--begin.rcode sineillusion-setup, fig.keep='all', cache=FALSE, echo=FALSE, include=FALSE, eval=TRUE
require(knitr)
rm(list=ls())
wd <- getwd()
opts_chunk$set(cache.path='cache/', fig.align='center', fig.width=6, fig.height=6, fig.show='hold', par=TRUE, cache=TRUE, concordance=TRUE, autodep=TRUE, root.dir="../../", fig.path='figure/', message=FALSE, warning=FALSE)
datadir <- "../../Data/sineIllusion/"
codedir <- "../../Code/sineIllusion/"
options(replace.assign=TRUE,width=70,scipen=3)
require(knitr)
library(reshape2)
suppressMessages(library(ggplot2))
library(plyr)
suppressMessages(library(gridExtra))

source(paste(codedir, "functions.r", sep=""))

f <- function(x) 2*sin(x)
fprime <- function(x) 2*cos(x)
f2prime <- function(x) -2*sin(x)

end.rcode-->

<section>
  <h2> Sine Illusion Overview </h2>
  
<!--begin.rcode sineillusion-original,echo=FALSE, fig.width=6.125, fig.height=5, out.width='45%'
qplot(x=x, xend=xend, y = ystart, yend=yend, geom="segment", data=createSine(40, 1, f=f, fprime=fprime, f2prime)) +
  theme(panel.grid.major=element_blank(), panel.background = element_rect(fill = "white", 
                colour = "black"), plot.margin = unit(c(0,0,-0.5,-0.5), "cm"), 
       panel.grid.minor=element_blank(), panel.background=element_blank(),
       axis.title = element_blank(), axis.ticks = element_blank(), 
       axis.text = element_blank()) + coord_equal(ratio=1)
end.rcode-->

  <section>
  </section>
</section>

<section>
  <h2 class="title"> Visual Aptitude and Data Displays </h2>
  <section>
  </section>
</section>

<section>
  <h2 class="title"> Hierarchy of Visual Features </h2>
  <h3 class="title"> Why group beats trend, but error beats group </h3>
  <section>
  </section>
</section>

</div> <!-- slides -->
</div> <!-- reveal -->

<script src="lib/js/head.min.js"></script>
<script src="js/reveal.js"></script>
<script>
	// Full list of configuration options available at:
	// https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		controls: true,
		progress: true,
		history: true,
		center: false,
		slideNumber: true,
		transition: 'fade', // none/fade/slide/convex/concave/zoom
		// Optional reveal.js plugins
		dependencies: [
			{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
			{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
			{ src: 'plugin/zoom-js/zoom.js', async: true },
			{ src: 'plugin/notes/notes.js', async: true }
		]
	});
</script>
</body>
</html>
